<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta charset="utf-8">
</head>

 
<body>
    <div class="section">
        <% if current_user.role == "admin" %>
        <%= form_for @product, url: {action: "insertar"} do |product_form| %>
                <!-- Protección CSRF -->
                <%= token_tag nil %>
                <div class="columns is-centered">
                    <div class="column is-half" style= "margin-top: 6rem;">
                        <% if flash[:error] %>
                            <div class="notification is-danger">
                                <%= flash[:error] %>
                            </div>
                        <% end %>
                
                        <h1 class="title is-1">Crear Producto</h1>
                        <div class="field" >
                            <label class="label">Nombre</label>
                            <div class="control">
                                <input class="input" placeholder="Nombre" type="int" name="product[nombre]" required>
                            </div>
                        </div>
                      <div class="field">
                        <label class="label">Selecciona una categoría para tu producto</label>
                        <div clas="control">
                          <div class="select is-primary">
                            <select name="product[categories]">
                              <option>Cancha</option>
                              <option>Accesorio tecnologico</option>
                              <option>Accesorio deportivo</option>
                              <option>Accesorio de vestir</option>
                              <option>Accesorio de entrenamiento</option>
                              <option>Suplementos</option>
                              <option>Equipamiento</option>
                            </select>
                          </div>
                        </div>
                      </div>

                        <div class="field">
                            <label class="label">Precio</label>
                            <div class="control">
                                <input class="input" placeholder="Precio" type="int" name="product[precio]" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Stock</label>
                            <div class="control">
                                <input class="input" placeholder="Stock" type="text" name="product[stock]" required>
                            </div>
                        </div>
                        <div class="field horarios-field" style="display: none;">
                            <label class="label">Horarios</label>
                            <div class="control">
                                <p> Si quiere agregar horarios de servicio escribalos en el formato: dia,hora_inicial,hora_final;dia,hora_inicial,hora_final</p>
                                <input class="input" placeholder="Horarios" type="text" name="product[horarios]">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Imagen</label>
                            <div class="control">
                              <%=product_form.file_field :image , html: {:html => {:class => 'input'}, :required => true}%>
                            </div>
                        </div>


                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary is-fullwidth">Guardar</button>
                            </div>
                            <div class="button is-primary is-danger">
                                <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
                            </div>
                        </div>
                    </div>
                </div>
            <%end %>
        <% else %>
            <div class="notification is-warning">
                Esta página es exclusiva para administradores.
            </div>
        <% end %>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const categorySelect = document.querySelector('select[name="product[categories]"]');
            const horariosField = document.querySelector('.horarios-field');

            categorySelect.addEventListener('change', () => {
                const selectedCategory = categorySelect.value;

                if (selectedCategory === 'Cancha') {
                    horariosField.style.display = 'block';
                } else {
                    horariosField.style.display = 'none';
                }
            });

            // Verificar la categoría seleccionada al cargar la página
            if (categorySelect.value === 'Cancha') {
                horariosField.style.display = 'block';
            } else {
                horariosField.style.display = 'none';
            }
        });

    </script>
</body>


